@import './variables';
@import './pages/movie-list';
@import './pages/movie-detail';
@import './core/search-bar';

body {
    max-width: 900px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}
