movie-list {

    search-bar {
        display: flex;
        margin: 12px auto;
        padding: 12px 28px;
    }

    .movie-filters {
        display: flex;
        flex-wrap: wrap;
        margin: 12px 28px;
        padding: 12px 28px;

        border: 1px solid black;
        border-radius: 6px;

        .genre-filter-label {
            width: 100%;
            margin: 12px;
        }

        .genre-checkbox {
            margin: 8px 8px;
            min-width: 100px;
        }
    }

    .movie-grid {
        display: flex;
        flex-wrap: wrap;
    }
}

movie-item {
    //movie cover: 268x182

    width: 182px + 24px;
    height: 268px;

    padding: 12px 12px 115px;
    margin: 12px auto;

    border: 2px solid darkgrey;

    .movie-detail-content {
        img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
