mcl-movie-detail-page {
    display: flex;
    flex-direction: column;

    .back-button {
        margin-left: auto;
        margin-bottom: 15px;

        width: 150px;
        height: 30px;
    }
}

mcl-movie-detail-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    //&__fields {       //TODO for some reason parent selector doesn't work :(
    .movie-detail-view__fields {
        max-width: calc(100% - 182px - 48px);
        min-width: 200px;
        padding: 24px 24px;

        line-height: 30px;
    }
}
