<mcl-search-bar [value]="filters.byName"
            (onSearch$)="onNameFilterChange($event)"
></mcl-search-bar>
<div class="movie-filters">
    <div class="genre-filter-label">Filter by genres:</div>
    <div class="genre-checkbox" *ngFor="let genre of genres">
        <input type="checkbox"
               [checked]="isGenreChecked(genre)"
               [value]="genre"
               (change)="onGenreFilterChange($event)"
        >
        {{genre}}
    </div>
</div>
<div class="movie-grid">
    <mcl-movie-item *ngFor="let movie of movies$ | async"
                [movie]="movie"
                (click)="onMovieClick(movie)"
    ></mcl-movie-item>
</div>
<mcl-loading-spinner *ngIf="loading$ | async"></mcl-loading-spinner>
