<search-bar [value]="filters.byName"
            (onSearch$)="onNameFilterChange($event)"
></search-bar>
<div class="movie-filters">
    <div class="genre-filter-label">Filter by genres:</div>
    <div class="genre-checkbox" *ngFor="let genre of genres">
        <input type="checkbox"
               [checked]="isGenreChecked(genre)"
               [value]="genre"
               (change)="onGenreFilterChange($event)"
        >
        {{genre}}
    </div>
</div>
<div class="movie-grid">
    <movie-item *ngFor="let movie of movies$ | async"
                [movie]="buildMovieModel(movie)"
                (click)="onMovieClick(movie)"
    ></movie-item>
</div>
<loading-spinner *ngIf="loading$ | async"></loading-spinner>
